name: Build Docker Images Regularly
on:
  schedule:
    - cron: '0 9 13 * *'
jobs:
  build_docker_images_regularly:
    runs-on: [self-hosted]
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: refs/heads/main
      - name: Free Disk Space
        run: |
          ./free_disk_space.sh
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Docker Images Regularly
        run: |
          df -lh
          ./build_images.py --branch "" --repo "" --root-image-name "" --remove-images
          cat graph.yaml
          df -lh
      - name: Set Environment Variable
        run: echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: ${{ secrets.GITHUBACTIONS }}
          prerelease: false
          automatic_release_tag: build_${{ env.TODAY }}
          files: |
            *.yaml
