name: Build Docker Images
on:
  push:
    tags:
      - v*
jobs:
  build_docker_images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dsutil
        run: |
          pip3 install -U git+https://github.com/dclong/xinstall@main
          xinstall dsutil[all] -ic
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Docker Images
        run: |
          df -lh
          ./build_images.py
          cat graph.yaml
          df -lh
