name: Build Docker Images
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'The GitHub branch of repositories to build.'
        required: false
        default: dev
      repo:
        description: 'The leaf repository to build.'
        required: false
        default: ''
      root_image_name:
        description: 'The name of the root Docker image in dependency resolving.'
        required: false
        default: ''
jobs:
  build_docker_images:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: refs/heads/main
      #- name: Free Disk Space
      #  run: |
      #    ./free_disk_space.sh
      - name: Store Docker Images on /mnt/docker
        run: |
          sudo ./docker.py
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Docker Images
        run: |
          #df -lh
          #docker ps
          ./build_images.py --branch '${{ github.event.inputs.branch }}' --repo '${{ github.event.inputs.repo }}' --root-image-name '${{ github.event.inputs.root_image_name }}'
          cat graph.yaml
          #docker ps
          #df -lh
