name: Build Docker Images
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'The GitHub branch of repositories to build.'
        required: false
        default: dev
      repo:
        description: 'The leaf repository to build.'
        required: false
        default: ''
      root_image_name:
        description: 'The name of the root Docker image in dependency resolving.'
        required: false
        default: ''
jobs:
  build_docker_images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: refs/heads/main
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sudo env UV_INSTALL_DIR="/usr/local/bin" sh
          which uv
      - name: Store Docker Images on /mnt/docker
        run: |
          sudo ./config_docker.py
      - name: Build Docker Images
        run: |
          docker images
          ./build_images.py --branch '${{ github.event.inputs.branch }}' --repo '${{ github.event.inputs.repo }}' --root-image-name '${{ github.event.inputs.root_image_name }}'
          cat graph.yaml
          docker images

